/* 全局 box-sizing 设置（参见第 3 章） */
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #709b90;
  font-family: Arial, Helvetica, sans-serif;
}

/* 全局外边距（参见第 3 章） */
body * + * {
  margin-top: 1.5em;
}

/* 双容器，用于网页内容居中（参见第 4 章） */
.container {
  max-width: 1080px;
  margin: 0 auto;
}
